/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@import "scss_file/_variables.scss";
@import "scss_file/_mixin.scss";
@import "scss_file/_reset.scss";
/*  ヘッダー部分　*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.header {
  background-color: rgba(40,57,61,0.9);
  color: #fff;
  height: 3rem;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  img {
    float: left;
    width: 20px;
    height: auto;
  }

  p {
    float: left;
    color: white;
    padding-left: 10px;
  }
}

.header-navigation {
  padding-right: 30px;
  @include mq("sp") {
    display: none;
  }
  @include mq("tab") {
    display: block;
  }
  @include mq("pc") {
    display: block;
  }
}

.header-navigation-wrapper {
  a {
    text-decoration: none;
    color: white;
  }

  span {
    padding: 0 10px;
  }
}

.header-modal {
  padding-right: 30px;
  @include mq("sp") {
    display: block;
  }
  @include mq("tab") {
    display: none;
  }
  @include mq("pc") {
    display: none;
  }

  i {
    color: black;
  }
}
/*  ヘッダー部分終了　*/
/*  モーダル部分　*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-radial-gradient(rgba(102, 109, 119,0.8) 30%, rgba(102, 109, 119,0.3) 70%);
  background: radial-gradient(rgba(102, 109, 119,0.8) 30%, rgba(102, 109, 119,0.3) 70%);
  display: none;
  z-index: 10000;
  display: none;
}

.modal-wrapper {
  width: 200px;

  .modal-parts {
    font-size: 3rem;
    border-bottom: 1px solid;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*  モーダル部分終了　*/
/*  トップコンテンツ部分　*/
.top-contents {
  @include mq("sp") {
    height: 300px;
  }
  @include mq("tab") {
    height: 700px;
  }
  @include mq("pc") {
    height: 700px;
  }
}

.top-contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background-image: url("image/iwith_top_image.png");
  background-size: cover;
  z-index: 10;
  color: white;
  font-weight: bold;
  @include mq("sp") {
    height: 300px;

    h1 {
      font-size: 1.80rem;
    }
  }
  @include mq("tab") {
    height: 700px;

    h1 {
      font-size: 4.4rem;
    }
  }
  @include mq("pc") {
    height: 700px;

    h1 {
      font-size: 5rem;
    }
  }

  h1 {
    background-color: rgba(40,57,61,0.5);
  }
}

.canvas {
  position: fixed;
  z-index: 100000;
}
/*  トップコンテンツ部分終了　*/
/*  iwithとは　*/
.what_is_iwith {
  background-color: darken(#F6F6F4, 7%);
  @include mq("sp") {
    height: 35rem;
  }
  @include mq("tab") {
    height: 45rem;
  }
  @include mq("pc") {
    height: 45rem;
  }
}
/* ページ内リンク調整用　*/

.what_is_iwith::before {
    content: "";
    margin-top: -5rem;
    height: 5rem;
    display: block;
    visibility: hidden;
}
/* ページ内リンク調整用　*/

.what_is_iwith_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include mq("sp") {
    height: 300px;
  }
  @include mq("tab") {
    height: 400px;
  }
  @include mq("pc") {
    height: 400px;
  }

  h2 {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  h3 {
    @include mq("sp") {
      font-size: 2rem;
    }
    @include mq("tab") {
      font-size: 3rem;
    }
    @include mq("pc") {
      font-size: 3.5rem;
    }
  }



  p {
    @include mq("sp") {
      margin-top: 20px;
      font-size: 1.75rem;
      text-align: center;
    }
    @include mq("tab") {
      margin-top: 40px;
      font-size: 2.5rem;
    }
    @include mq("pc") {
      margin-top: 40px;
      font-size: 4rem;
    }

  }

  .kaigyou::before {
    @include mq("sp500") {
      content: "\A";
      white-space: pre;
    }
  }
  .what_is_iwith_point {
    @include mq("sp500") {
      display: none;
  }
}
}

/*  iwithとは終了　*/

/*  iwith実績　*/

.iwith_performances {
  text-align: center;
  img {
    width: 50%;
    height: auto;
  }
}


.clearfix::after {
  @include clear_after;
}

.clearfix {
  @include clear_fix;
}

/* 動作テスト用　*/

.testtest {
  padding-top: 10000px
}

.border_check {
  border: 1px solid;
}
/* 動作テスト用終了　*/
