@import "scss_file/_variables.scss";
@import "scss_file/_mixin.scss";
@import "scss_file/_reset.scss";
/*  ヘッダー部分　*/
html {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

.header {
  background-color: rgba(40,57,61,0.9);
  color: #fff;
  height: 3rem;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  img {
    float: left;
    width: 20px;
    height: auto;
  }

  p {
    float: left;
    color: white;
    padding-left: 10px;
  }
}

.header-navigation {
  padding-right: 30px;
  @include mq("sp") {
    display: none;
  }
  @include mq("tab") {
    display: block;
  }
  @include mq("pc") {
    display: block;
  }
}

.header-navigation-wrapper {
  a {
    text-decoration: none;
    color: white;
  }

  span {
    padding: 0 10px;
  }
}

.header-modal {
  padding-right: 30px;
  @include mq("sp") {
    display: block;
  }
  @include mq("tab") {
    display: none;
  }
  @include mq("pc") {
    display: none;
  }

  i {
    color: black;
  }
}
/*  ヘッダー部分終了　*/
/*  モーダル部分　*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-radial-gradient(rgba(102, 109, 119,0.8) 30%, rgba(102, 109, 119,0.3) 70%);
  background: radial-gradient(rgba(102, 109, 119,0.8) 30%, rgba(102, 109, 119,0.3) 70%);
  display: none;
  z-index: 10000;
}

.modal-wrapper {
  width: 200px;

  .modal-parts {
    font-size: 3rem;
    border-bottom: 1px solid;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*  モーダル部分終了　*/

/*  spinner start　*/
.my-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px;
  border-style: solid;
  border-color: black black transparent;
  border-radius: 100%;
}

.my-spinner.rotate {
  animation: rotate-anim 1s 0s infinite linear;
  animation-fill-mode: both;
}

@keyframes rotate-anim
{
  0%
  {
    transform: rotate(0deg) scale(1);
  }
  50%
  {
    transform: rotate(180deg) scale(0.8);
  }
  100%
  {
    transform: rotate(360deg) scale(1);
  }
}

/*  spinner end　*/


/*  トップコンテンツ部分　*/
#WebGL-output {
  position: relative;
  z-index: 100;
}

.webgl-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 200;
  text-align: center;
  background-color: rgba(40,57,61,0.5);
  color: white;
  @include mq("sp") {
    width: 30rem;
    font-size: 1.6rem;
  }
  @include mq("tab") {
    top: 47%;
    width: 80rem;
    font-size: 4.4rem;
  }
  @include mq("pc") {
    top: 47%;
    width: 80rem;
    font-size: 4.4rem;
  }
}
/*  トップコンテンツ部分終了　*/
/*  iwithとは　*/
.what_is_iwith {
  background-color: darken(#F6F6F4, 7%);
  @include mq("sp") {
    height: 35rem;
  }
  @include mq("tab") {
    height: 45rem;
  }
  @include mq("pc") {
    height: 45rem;
  }
}

.what_is_iwith_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 1.5rem;
  @include mq("sp") {
    height: 300px;
  }
  @include mq("tab") {
    height: 400px;
  }
  @include mq("pc") {
    height: 400px;
  }

  h2 {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  h3 {
    @include mq("sp") {
      font-size: 2rem;
    }
    @include mq("tab") {
      font-size: 3rem;
    }
    @include mq("pc") {
      font-size: 3.5rem;
    }
  }

  p {
    @include mq("sp") {
      margin-top: 20px;
      font-size: 1.75rem;
      text-align: center;
    }
    @include mq("tab") {
      margin-top: 40px;
      font-size: 2.5rem;
    }
    @include mq("pc") {
      margin-top: 40px;
      font-size: 4rem;
    }
  }

  .kaigyou::before {
    @include mq("sp500") {
      content: "\A";
      white-space: pre;
    }
  }

  .what_is_iwith_point {
    @include mq("sp500") {
      display: none;
    }
  }
}
/*  iwithとは終了　*/
/*  iwith実績　*/
.iwith_performance {
  p {
    @include mq("sp") {
      text-align: center;
      font-size: 1.3rem;
    }
    @include mq("tab500") {
      text-align: center;
      font-size: 1.6rem;
    }
    @include mq("tab") {
      text-align: center;
      font-size: 2rem;
    }
    @include mq("pc") {
      text-align: center;
      font-size: 2rem;
    }
  }
}

.iwith_performance_wrapper {
  position: relative;
  margin-bottom: 1rem;
  @include mq("sp") {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @include mq("tab") {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  @include mq("pc") {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.iwith_performances {
  text-align: center;
  background-color: rgba(40, 57, 61, 0.16);
  border-radius: 50px;
  padding: 1rem;
  @include mq("sp") {
    width: 85%;
    margin-top: 2rem;
  }
  @include mq("tab500") {
    width: 70%;
    margin: 1 0;
  }
  @include mq("tab") {
    width: 33%;
    margin: 0 1rem;
  }
  @include mq("pc") {
    width: 33%;
    margin: 0 1rem;
  }

  h3 {
    @include mq("sp") {
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
  }

  img {
    width: 80%;
    max-width: 500px;
    height: auto;
  }

  p {
    text-align: center;
    padding-top: 1rem;
    @include mq("sp") {
      font-size: 1.3rem;
    }
    @include mq("tab500") {
      font-size: 1.5rem;
    }
    @include mq("pc") {
      font-size: 2rem;
    }
  }
}

.ex_images {
  display: inline-block;
  @include mq("sp") {
    width: 80%;
    font-size: 1.5rem;
    max-width: 500px;
  }
  @include mq("tab") {
    max-width: 500px;
  }
}

.p_kaigyou::before {
  content: "\A";
  white-space: pre;
}

.p_p_kaigyou::before {
  @include mq("sp") {
    content: "\A";
    white-space: pre;
  }
  @include mq("tab") {
    display: none;
  }
  @include mq("pc") {
    display: none;
  }
}
/*  iwith実績終了　*/
/*  iwith vision　*/
.iwith-vision {
  @include mq("sp") {
    background-image: url("image/geometric-mobile.jpg");
    background-size: cover;
    margin-top: 5rem;

    h2 {
      text-align: center;
    }
  }
  @include mq("tab") {
    background-image: url("image/geographic.jpg");
    background-size: cover;
    margin-top: 6rem;

    h2 {
      font-size: 3rem;
    }
  }
  @include mq("pc") {
    background-image: url("image/geographic.jpg");
    background-size: cover;
    margin-top: 6rem;

    h2 {
      font-size: 4rem;
    }
  }
}

.iwith-vision-wrapper {
  padding: 0 1rem;
  margin: 0 auto;
  @include mq("sp") {
    line-height: 3.5rem;
    max-height: 60rem;
    max-width: 45rem;
    padding-bottom: 3rem;

    p {
      font-size: 2rem;
    }
  }
  @include mq("tab") {
    line-height: 4rem;
    height: 40rem;
    max-width: 80rem;

    p {
      font-size: 2.5rem;
    }
  }
  @include mq("pc") {
    line-height: 4.5rem;
    height: 45rem;
    max-width: 100rem;

    p {
      font-size: 3rem;
    }
  }
}
/*  iwith vision 終了　*/
/*  iwith 問い合わせ*/

.ask-form {
  height: auto;
}

#formWrap {
  width: 90%;
  max-width: 80rem;
  margin: 6rem auto 0;
  color: #555;
  line-height: 120%;
  font-size: 90%;
  text-align: center;
  height: auto;

  h3 {
    padding: 1rem 0 0.5rem;
  }

  p {
    padding: 1rem;
  }
}

table.formTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  height: 50rem;
}

table.formTable td,
table.formTable th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table.formTable th {
  width: 30%;
  font-weight: normal;
  background: #efefef;
  text-align: left;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 5px;
  font-size: 110%;
  display: block;
}

.btn {
  font-size: 1rem;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
}
@media screen and (max-width:500px) {
  #formWrap {
    width: 95%;
    margin: 6rem auto 0;
  }

  table.formTable td,
  table.formTable th {
    width: auto;
    display: block;
  }

  table.formTable th {
    margin-top: 5px;
    border-bottom: 0;
    text-align: center;
  }

  select {
    width: 60%;
  }

  input[type="text"],
  textarea {
    width: 95%;
    padding: 5px;
    font-size: 110%;
    display: block;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: block;
    width: 20rem;
    height: 3rem;
    margin-top: 1rem;
  }

  .ask_kaigyou::before {
    content: "\A";
    white-space: pre;
  }
}
/*  iwith 問い合わせ終了*/
/*  iwith 会社概要　開始　*/
.company-summary-wrapper {
  @include mq("sp") {
    h2 {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  @include mq("tab") {
    h2 {
      font-size: 3rem;
    }
  }
  @include mq("pc") {
    h2 {
      font-size: 3rem;
    }
  }
}

.summary-table {
  margin: 0 auto;
  @include mq("sp") {
    width: 95%;
    max-width: 40rem;

    tr {
      border: solid 1px black;
    }

    th {
      position: relative;
      padding: 3rem 2.5rem 0;
      margin-bottom: 3rem;
    }

    th:before {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 0;
      border: none;
      border-left: solid 1rem transparent;
      border-bottom: solid 1rem rgb(119, 195, 223);
    }

    th:after {
      position: absolute;
      content: '';
      bottom: -3px;
      left: 10px;
      width: 270%;
      border-bottom: solid 0.1rem rgb(119, 195, 223);
    }

    td {
      padding-top: 3rem;
      text-align: center;
    }
  }
  @include mq("tab") {
    width: 80%;
    max-width: 50rem;

    tr {
      font-size: 2rem;
    }

    th:after {
      width: 315%;
    }

    td {
      text-align: right;
    }
  }
  @include mq("pc") {
    width: 70%;
    max-width: 60rem;

    tr {
      font-size: 2rem;
    }

    th:after {
      width: 315%;
    }

    td {
      text-align: right;
    }
  }
}
/*  iwith 会社概要終了　*/
/*  iwith ceo picture　*/
.ceo-intro {
  width: 100%;
}

.ceo-intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20rem;
  padding: 2rem 0;
}

.ceo-picture {
  img {
    width: 15rem;
    height: auto;
    padding-right: 1rem;
  }
}

.ceo-picture-comment {
  background-color: darken(#F6F6F4, 7%);
  height: 19.8rem;
  width: 15rem;
  text-align: center;
  @include mq("sp") {
    h3 {
      padding-top: 0.5rem;
      font-size: 1.5rem;
    }

    p {
      display: inline-block;
      font-size: 1.3rem;
      padding-top: 1rem;
    }
  }
}
/*  iwith ceo picture　*/
/*  iwith footer　*/
.footer {
  background-color: rgba(40,57,61,0.9);
  color: #fff;
  height: 10rem;
  width: 100%;
}

.footer-wrapper {
  height: 10rem;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 2rem;

  li {
    list-style: none;
  }

  a {
    color: white;
  }
  @include mq("sp") {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;

    right {
      font-size: 1.6rem;
    }
  }
  @include mq("tab") {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footers {
  margin-right: 1rem;
}

#footer{

}
/*  iwith footer　*/
/* ページ内リンク調整用　*/
.company-summary::before,
.iwith-vision::before,
.iwith_performance::before,
.what_is_iwith::before {
  content: "";
  margin-top: -5rem;
  height: 5rem;
  display: block;
  visibility: hidden;
}
/* ページ内リンク調整用終了　*/
.head-design {
  h2 {
    position: relative;
    text-align: center;
    margin: 1.5rem auto;
    width: 30rem;
    font-size: 3rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  h2:after,
  h2:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: calc(100% + 14px);
    background-color: black;
  }

  h2:before {
    left: 7px;
  }

  h2:after {
    right: 7px;
  }
}
/* float解除　*/
.clearfix::after {
  @include clear_after;
}

.clearfix {
  @include clear_fix;
}
/* float解除終了　*/
/* 動作テスト用　*/
.testtest {
  padding-top: 10000px;
}

.border_check {
  border: 1px solid;
}
/* 動作テスト用終了　*/
